.buy {
  color: var(--buy-color);
}

.sell {
  color: var(--sell-color);
}

.card {
  display: flex;
  flex-direction: column;

  .cardHeader {
  }

  .cardBody {
    flex-grow: 1;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;
    gap: 12px;

    .tableContainer {
      overflow: auto;
      flex-grow: 1;
      max-height: 50%;

      .tableRow {
        &.disabled {
          color: var(--zinc-500);

          .buy {
            color: var(--green-700);
          }
          .sell {
            color: var(--red-700);
          }
        }

        &:hover {
          background-color: var(--zinc-600);
          cursor: pointer;

          &.disabled {
            background-color: revert;
            cursor: default;
          }
        }
      }
    }
  }
}
