.buy {
  color: var(--buy-color);
}

.sell {
  color: var(--sell-color);
}

.card {
  display: flex;
  flex-direction: column;

  .cardBody {
    flex-grow: 1;
    overflow-y: auto;

    .textMuted {
      color: var(--text-muted-color);
    }
  }
}
