.content {
  height: calc(100vh - var(--nav-bar-height));
  //background-color: #1d1d1d;
  background-color: var(--zinc-800);

  .grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas:
      "balance order-book price-chart trades"
      "new-order order-book my-transactions trades";
    padding: 8px;
    gap: 8px;

    .balance {
      grid-area: balance;
    }

    .orderBook {
      grid-area: order-book;
      overflow-y: hidden;
    }

    .priceChart {
      grid-area: price-chart;
      overflow-y: hidden;
    }

    .trades {
      grid-area: trades;
      overflow: hidden;
    }

    .newOrder {
      grid-area: new-order;
    }

    .myTransactions {
      grid-area: my-transactions;
      overflow: hidden;
    }
  }
}
