.buy {
  color: var(--buy-color);
}

.sell {
  color: var(--sell-color);
}

.card {
  display: flex;
  flex-direction: column;
}

.cardHeader {
}

.cardBody {
  flex-grow: 1;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tableContainer {
  flex-grow: 1;
  overflow: auto;
}

.tableRow {
  &:hover {
    background-color: var(--table-border-color);
    cursor: pointer;
  }
}
