.table {
  border-collapse: collapse;
  width: 100%;
  color: white;

  & thead {
    border-bottom: 2px solid var(--table-border-color);
  }

  & th,
  td {
    padding: 4px;
  }

  & tbody tr {
    border-bottom: 1px solid var(--table-border-color);

    &:last-child {
      border-bottom: revert;
    }
  }
}
